Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common

docs(authentication): document env variables
  authentication/README.md
Due: auth

feat(authentication)!: add required JWT_PRIVATE_KEY variable (#62)
  authentication/README.md
  authentication/go.mod
  authentication/go.sum
  authentication/main.go
Due: auth

feat(recipe): add recipe build and publish image
  .github/workflows/main.yml
Due: none

feat(web-service): add Dockerfile
  web-service/Dockerfile
Due: none

docs: add test status badge and goreportcard for reverse-proxy and load-balancer
  README.md
Due: none

fix(web-service): change port in dockerfile
  web-service/Dockerfile
Due: none

fix(web-service): COPY assets into image
  web-service/Dockerfile
Due: none

fix(web-service/docker): Fix image build on linux (or whatever the problem caused)
  web-service/Dockerfile
Due: none

docs(orchestration): add readme
  orchestration/Readme.md
Due: none

docs(reverse-proxy): add readme
  reverse-proxy/Readme.md
Due: none

feat(reverse-proxy): replace fmt.Print* with logging package
  reverse-proxy/cmd/main.go
Due: none

refactor(authentication): authentiction refactoring
  authentication/accounts/controller.go
  authentication/accounts/model/model.go
  authentication/accounts/repository.go
  authentication/accounts/request_response_models.go
  authentication/api/router/router.go
  authentication/main.go
Due: auth

refactor(recipe): router rename
  recipe/api/router/router.go
Due: recipe

CI(authentication): add automated docker image build
  .github/workflows/auth_build_push_image.yml
  .github/workflows/test-auth.yml
Due: none

CI(recipe): add automated docker image build
  .github/workflows/recipe_build_push_image.yml
  .github/workflows/test-recipe.yml
Due: none

CI(reverse-proxy): add automated docker image build
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

CI(web-service): add automated docker image build
  .github/workflows/web-service_build_push_image.yml
Due: none

reverse-proxy: readme and logging (#64)
  reverse-proxy/Readme.md
  reverse-proxy/cmd/main.go
Due: none

CI(reverse-proxy): only build/publish image when test workflow succeeds
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

Automated build/publishing of images (#67)
  .github/workflows/auth_build_push_image.yml
  .github/workflows/recipe_build_push_image.yml
  .github/workflows/reverse_proxy_build_push_image.yml
  .github/workflows/test-auth.yml
  .github/workflows/test-recipe.yml
  .github/workflows/web-service_build_push_image.yml
Due: none

chore(recipe): remove env variable for testing
  .github/workflows/recipe_build_push_image.yml
Due: none

CI(recipe): change test workflow name reference so this one actually triggers
  .github/workflows/recipe_build_push_image.yml
Due: none

CI(recipe): add workflow_dispatch to run workflow manually and change test worklow dependency logic
  .github/workflows/recipe_build_push_image.yml
Due: none

chore: fix _mock subdirectories in .gitignore
  .gitignore
Due: none

feat(load-balancer): implement ip hash strategy
  .github/workflows/test-load-balancer.yml
  go.work.sum
  load-balancer/Readme.md
  load-balancer/go.mod
  load-balancer/go.sum
  load-balancer/strategies/ip-hash/_mocks/gen.go
  load-balancer/strategies/ip-hash/ip_hash.go
  load-balancer/strategies/ip-hash/ip_hash_test.go
  recipe/_mocks/gen.go
Due: recipe

CI(recipe): change build image from alpine to what I think is ubuntu so the build step can use git :)
  recipe/Dockerfile
Due: recipe

CI(recipe): remove apk install for gcc since it should already be included
  recipe/Dockerfile
Due: recipe

CI(recipe): change path to go.mod/go.sum
  recipe/Dockerfile
Due: recipe

CI(recipe): try adding authentication directly
  recipe/Dockerfile
Due: recipe

CI(recipe): add @ to authentication version so it actually works :)
  recipe/Dockerfile
Due: recipe

CI(recipe): add replace for authentication
  recipe/Dockerfile
  recipe/go.mod
Due: recipe

ci(recipe): go mod tidy :)
  recipe/go.mod
  recipe/go.sum
Due: recipe

CI(authentication): Use Ubuntu in Dockerfile build step, discard env variable name in build image workflow
  .github/workflows/auth_build_push_image.yml
  authentication/Dockerfile
Due: auth

CI(reverse-proxy): Discard env variable name in build image workflow
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

CI(web-service): Discard env variable name in build image workflow
  .github/workflows/web-service_build_push_image.yml
Due: none

CI(load-balancer): Add Dockerfile
  load-balancer/Dockerfile
Due: none

CI(load-balancer): Automate image build + push to GitHub registry
  .github/workflows/load-balancer_build_push_image.yml
Due: none

CI(authentication): Add test worklow dependency
  .github/workflows/auth_build_push_image.yml
Due: none

Path conditions:
  auth: any of: authentication
  recipe: any of: recipe
  common: any of: common
