Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common

codecov.yml:

flags:
  auth:
    paths:
      - authentication
  recipe:
    paths:
      - recipe
  common:
    paths:
      - common

flag_management:
  default_rules:
    carryforward: true

CI(load-balancer): Add test worklow dependency
  .github/workflows/load-balancer_build_push_image.yml
Due: none

CI(reverse-proxy): Add test worklow dependency
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

CI(web-service): Add test worklow dependency
  .github/workflows/web-service_build_push_image.yml
Due: none

CI(web-service): fix path to go.mod
  web-service/Dockerfile
Due: none

CI(authentication): remove test workflow dependency for now
  .github/workflows/auth_build_push_image.yml
Due: none

CI(load-balancer): remove test workflow dependency for now
  .github/workflows/load-balancer_build_push_image.yml
Due: none

CI(reverse-proxy): remove test workflow dependency for now
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

test(authentication): auth refactoring test with mocks +gitignore for mocks
  .gitignore
  authentication/_mocks/gen.go
  authentication/accounts/controller.go
  authentication/accounts/controller_test.go
  authentication/accounts/repository/repository.go
  authentication/main.go
Due: auth

test(authentication): HandleCreateAccount Tests with Mocks
  authentication/accounts/controller.go
  authentication/accounts/controller_test.go
Due: auth

chore(web-service): Dockerfile build fix
  web-service/Dockerfile
Due: none

chore(recipe): Use alpine in dockerfile to fix image
  recipe/Dockerfile
Due: recipe

chore(recipe): go mod tidy
  go.work.sum
  recipe/go.mod
  recipe/go.sum
Due: recipe

chore(recipe): compile with cgo enabled
  recipe/Dockerfile
Due: recipe

feat(loadtest): implement ramped worker pool
  go.work
  go.work.sum
  loadtest/cmd/main.go
  loadtest/config/config.go
  loadtest/go.mod
  loadtest/load.config.json
  loadtest/worker/job.go
  loadtest/worker/pool.go
  loadtest/worker/worker.go
Due: none

chore(deployment): Deployments yamls and persistentVolumes
  deployment/example-ingress.yaml
  deployment/localStorageClass.yaml
  deployment/persistentVolume.yaml
  deployment/persistentVolumeClaim.yaml
  deployment/recipe-service-deployment.yaml
  deployment/recipe-service.yaml
  deployment/web-service-deployment.yaml
  deployment/web-service.yaml
Due: none

feat(loadtest): let workers do http requests
  loadtest/cmd/main.go
  loadtest/worker/job.go
  loadtest/worker/pool.go
  loadtest/worker/worker.go
Due: none

docs(loadtest): loadtest readme
  loadtest/Readme.md
Due: none

chore: go mod tidy
  common/go.mod
  common/go.sum
  go.work.sum
  load-balancer/go.mod
  load-balancer/go.sum
Due: common

fix(deployment): remove broken volume configs
  deployment/persistentVolume.yaml
  deployment/recipe-service-deployment.yaml
Due: none

feat(recipe)!: Migrate from sqlite to PostgreSQL
  common/db/generated/models.go
  common/db/generated/query.sql.go
  common/db/query.sql
  common/db/schema.sql
  common/db/sqlc.yaml
  dev-db/compose.yml
  go.work.sum
  recipe/README.md
  recipe/go.mod
  recipe/go.sum
  recipe/main.go
  recipe/recipes/model/model.go
  recipe/recipes/repository.go
Due: recipe, common

test(authentication): controller test
  authentication/accounts/controller_test.go
Due: auth

style(authentication): go fmt
  authentication/accounts/model/model.go
Due: auth

ci(authentication): install and run mockgen
  .github/workflows/test-auth.yml
Due: none

chore(authentication): go mod tidy
  authentication/go.mod
  authentication/go.sum
Due: auth

chore(authentication): fix "no such file" when starting container
  authentication/Dockerfile
Due: auth

CI(load-balancer): remove automatic run on test completion
  .github/workflows/load-balancer_build_push_image.yml
Due: none

CI(authentication): remove automatic run on test completion
  .github/workflows/auth_build_push_image.yml
Due: none

CI(recipe): remove automatic run on test completion
  .github/workflows/recipe_build_push_image.yml
Due: none

CI(reverse-proxy): remove automatic run on test completion
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

CI(web-service): remove automatic run on test completion
  .github/workflows/web-service_build_push_image.yml
Due: none

feat(authentication): Add GRPC service
  .gitignore
  authentication/README.md
  authentication/accounts/repository/repository.go
  authentication/cmd/grpctest.go
  authentication/go.mod
  authentication/go.sum
  authentication/grpc-server/grpc_server.go
  authentication/grpc-server/grpc_server_test.go
  authentication/main.go
  authentication/proto/authentication.proto
  authentication/proto/converter.go
  authentication/proto/converter_test.go
  authentication/proto/gen.go
  go.work.sum
Due: auth

ci(authentication): Generate protobuf code
  .github/workflows/test-auth.yml
Due: none

ci(authentication): fix protoc args
  .github/workflows/test-auth.yml
Due: none

ci(authentication): install protoc-gen-go-grpc
  .github/workflows/test-auth.yml
Due: none

ci(authentication): use go generate for protobuf generation
  .github/workflows/test-auth.yml
Due: none

fix(recipe): self is not a path parameter
  recipe/api/router/router.go
Due: recipe

feat(recipe)!: Verify account existence in GetByAuthor endpoint
  .github/workflows/test-auth.yml
  .gitignore
  authentication/_mocks/gen.go
  authentication/accounts/controller_test.go
  authentication/auth-proto/authentication.proto
  authentication/auth-proto/converter.go
  authentication/auth-proto/converter_test.go
  authentication/auth-proto/errors.go
  authentication/auth-proto/gen.go
  authentication/cmd/grpctest.go
  authentication/grpc-server/grpc_server.go
  authentication/grpc-server/grpc_server_test.go
  authentication/proto/gen.go
  go.work.sum
  recipe/README.md
  recipe/go.mod
  recipe/go.sum
  recipe/main.go
  recipe/recipes/controller.go
  recipe/recipes/create_recipe_test.go
  recipe/recipes/delete_recipe_test.go
  recipe/recipes/get_by_author.go
  recipe/recipes/get_by_author_test.go
  recipe/recipes/get_by_id_test.go
  recipe/recipes/get_by_self_test.go
  recipe/recipes/health_test.go
Due: auth, recipe

ci(authentication): generate mocks after protobuf
  .github/workflows/test-auth.yml
Due: none

feat(authentication): Handle account repo errors with ErrInternal gRPC status
  authentication/auth-proto/errors.go
  authentication/grpc-server/grpc_server.go
  authentication/grpc-server/grpc_server_test.go
Due: auth

ci(recipe): Generate authentication mocks
  .github/workflows/test-recipe.yml
Due: none
