Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common

chore(recipe): Bump authentication dependency, trying to fix go vet in ci
  recipe/go.mod
Due: recipe

fix(authentication): listen on all interfaces
  authentication/main.go
Due: auth

chore: add authentication deployment
  deployment/Readme.md
  deployment/auth-service-deployment.yaml
  deployment/auth-service.yaml
  deployment/example-ingress.yaml
Due: none

ci: fix authentication rpc mock generation
  .github/workflows/test-recipe.yml
Due: none

chore: add codecov attributes that might be missing
  codecov.yml
Due: none

chore(recipe): Remove sqlite stuff from Dockerfile
  recipe/Dockerfile
Due: recipe

chore(recipe): Postgres deployment
  authentication/_mocks/mock-repository/repository_mocks.go
  deployment/Readme.md
  deployment/example-ingress.yaml
  deployment/postgres/postgres-config.yaml
  deployment/postgres/postgres-deployment.yaml
  deployment/postgres/postgres-pvc-pv.yaml
  deployment/postgres/postgres-service.yml
  deployment/recipe-service-deployment.yaml
  deployment/recipe-service.yaml
  recipe/README.md
Due: auth, recipe

ci(authentication): make test and docker workflows callable, add calling workflow for both
  .github/workflows/auth-test-and-docker.yml
  .github/workflows/auth_build_push_image.yml
  .github/workflows/test-auth.yml
Due: none

ci: move authentication stuff to subdirectory
  .github/workflows/authentication/auth-test-and-docker.yml
  .github/workflows/authentication/auth_build_push_image.yml
  .github/workflows/authentication/test-auth.yml
Due: none

ci(authentication/recipe): callable workflows
  .github/workflows/recipe/recipe-test-and-deploy.yml
  .github/workflows/recipe/recipe_build_push_image.yml
  .github/workflows/recipe/test-recipe.yml
Due: none

ci(authentication/recipe): callable workflows
  .github/workflows/recipe/recipe_build_push_image.yml
Due: none

ci: fix on:path in recipe test and deploy
  .github/workflows/recipe/recipe-test-and-deploy.yml
Due: none

ci(authentication): apparently GH workflows can't live in subdirectories
  .github/workflows/auth-test-and-docker.yml
  .github/workflows/auth_build_push_image.yml
  .github/workflows/recipe-test-and-deploy.yml
  .github/workflows/recipe/recipe-test-and-deploy.yml
  .github/workflows/recipe_build_push_image.yml
  .github/workflows/test-auth.yml
  .github/workflows/test-recipe.yml
Due: none

ci(authentication): better gh workflow file names
  .github/workflows/auth-build-push-image.yml
  .github/workflows/auth-test-and-deploy.yml
  .github/workflows/auth-test-and-docker.yml
  .github/workflows/auth-test.yml
  .github/workflows/recipe-build-push-image.yml
  .github/workflows/recipe-test-and-deploy.yml
  .github/workflows/recipe-test.yml
Due: none

ci(authentication): fix workflow path
  .github/workflows/recipe-test-and-deploy.yml
Due: none

ci(authentication): deliver workflow names
  .github/workflows/auth-test-and-deliver.yml
  .github/workflows/recipe-test-and-deliver.yml
Due: none

ci: use cocogitto to create releases
  .github/workflows/auth-test-and-deliver.yml
  .github/workflows/release.yml
  cog.toml
Due: none

feat!: breaking change
  authentication/main.go
Due: auth

ci: create tag using GH api
  .github/workflows/release.yml
Due: none

ci: fix gh repo variable
  .github/workflows/release.yml
Due: none

ci: fix curl
  .github/workflows/release.yml
Due: none

chore(version): 0.4.0
  CHANGELOG.md
  authentication/CHANGELOG.md
Due: auth

ci: mark release as draft
  .github/workflows/release.yml
Due: none

ci: run on versioning
  .github/workflows/release.yml
Due: none

ci: use pr head for version testing
  .github/workflows/release.yml
Due: none

chore(version): 0.1.0
  CHANGELOG.md
  authentication/CHANGELOG.md
  recipe/CHANGELOG.md
  web-service/CHANGELOG.md
Due: auth, recipe

feat(authentication): test change
  authentication/README.md
Due: auth

ci: git log
  .github/workflows/release.yml
Due: none

ci: push after cog
  .github/workflows/release.yml
Due: none

chore(version): 0.2.0
  CHANGELOG.md
  authentication/CHANGELOG.md
Due: auth

ci: push with tags
  .github/workflows/release.yml
Due: none

ci: can i use tag OR path?
  .github/workflows/auth-test-and-deliver.yml
Due: none

ci: push cog commit
  .github/workflows/release.yml
Due: none

Path conditions:
  auth: any of: authentication
  recipe: any of: recipe
  common: any of: common
