Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common

codecov.yml:

flags:
  auth:
    paths:
      - authentication
  recipe:
    paths:
      - recipe
  common:
    paths:
      - common

flag_management:
  default_rules:
    carryforward: true

ci: add test workflows for loadbalancer and reverse proxy
  .github/workflows/test-load-balancer.yml
  .github/workflows/test-reverse-proxy.yml
  codecov.yml
Due: none

style: go fmt
  reverse-proxy/config/config_test.go
Due: none

refactor(reverse-proxy): move url to service matching to separate func
  reverse-proxy/reverse_proxy.go
  reverse-proxy/reverse_proxy_test.go
Due: none

feat(reverse-proxy)!: return 502 status when http forwarding fails
  reverse-proxy/reverse_proxy.go
  reverse-proxy/reverse_proxy_test.go
Due: none

feat(reverse-proxy)!: return 502 status when no service is found for requested path
  reverse-proxy/reverse_proxy.go
  reverse-proxy/reverse_proxy_test.go
Due: none

refactor(recipe): remove unused in-memory repository
  recipe/recipes/repository.go
Due: recipe

test(recipe): test health endpoint
  recipe/recipes/health_test.go
Due: recipe

refactor(recipe): remove unused code
  recipe/main.go
Due: recipe

refactor(recipe): variable naming
  recipe/main.go
Due: recipe

refactor(recipe): move public key loading code to common
  common/jwt_public_key/jwt_public_key.go
  recipe/main.go
Due: recipe, common

feat(recipe): log db opening and table creation errors
  recipe/main.go
Due: recipe

feat(load-balancer): WIP: add container orchestration capabilities to load balancer
  common/fun/MapMap.go
  go.work.sum
  load-balancer/cmd/main.go
  load-balancer/go.mod
  load-balancer/go.sum
  load-balancer/orchestration/orchestration.go
Due: common

ci: add flags to reverseproxy and loadbalancer coverage uploads
  .github/workflows/test-load-balancer.yml
  .github/workflows/test-reverse-proxy.yml
Due: none

feat(recipe)!: add sqlite file location envrionment variable
  common/environment/environment.go
  common/environment/environment_test.go
  recipe/README.md
  recipe/main.go
Due: recipe, common

fix(load-balancer): fix race condition when passing healthyReplicas to balancing strategy
  load-balancer/load_balancer.go
Due: none

fix(load-balancer/round-robin): fix race condition when updating index
  load-balancer/strategies/round_robin/round_robin.go
Due: none

feat(load-balancer): make healthyLock sync.RWMutex (was sync.Mutex)
  load-balancer/load_balancer.go
Due: none

feat(load-balancer): turn LeastConnections.m into sync.RWMutex (was sync.Mutex)
  load-balancer/strategies/least_connections/least_connections.go
Due: none

docs(load-balancer): add some docs about thread safety
  load-balancer/Readme.md
Due: none

test(load-balancer/least-connections): pass correct mutex type
  load-balancer/strategies/least_connections/least_connections_test.go
Due: none

feat(orchestration): move orchestration code from load-balancer to own project
  go.work
  go.work.sum
  load-balancer/cmd/main.go
  orchestration/cmd/main.go
  orchestration/go.mod
  orchestration/go.sum
  orchestration/orchestration.go
Due: none

feat(load-balancer): initialize replica list with running container instances
  load-balancer/cmd/main.go
  orchestration/orchestration.go
Due: none

feat(recipe): add github registry publish to recipe
  .github/workflows/test-recipe.yml
Due: none

chore(recipe): fix indentation
  .github/workflows/test-recipe.yml
Due: none

chore(recipe) change image name to avoid duplicate name+tag
  .github/workflows/test-recipe.yml
Due: none

fix(orchestration): stop orchestration from exiting
  orchestration/cmd/main.go
Due: none

feat(orchestration): automatically remove stopped containers
  orchestration/orchestration.go
Due: none

feat(orchestration): implement config file for orchestration
  orchestration/cmd/main.go
  orchestration/config.yml
  orchestration/config/config.go
  orchestration/go.mod
  orchestration/go.sum
Due: none

chore(recipe): only build and publish image when tests have passed
  .github/workflows/test-recipe.yml
Due: none

feat(authentication): automate building and pushing images
  .github/workflows/test-auth.yml
Due: none

feat(orchestration): pull images
  orchestration/cmd/main.go
Due: none

feat(orchestration): logging
  orchestration/cmd/main.go
  orchestration/orchestration.go
Due: none

refactor(orchestration): remove unused stuff
  orchestration/orchestration.go
Due: none

feat(reverse-proxy): automate building and pushing images
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

Create reverse_proxy_build_push_image.yml
  .github/workflows/reverse_proxy_build_push_image.yml
Due: none

fix(orchestration): set container name and IP correctly
  orchestration/orchestration.go
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

feat(orchestration): wait until image is pulled
  orchestration/cmd/main.go
Due: none

feat(authentication)!: add required JWT_PRIVATE_KEY variable
  authentication/main.go
Due: auth

chore: go mod tidy
  authentication/go.mod
  authentication/go.sum
Due: auth
